# Ambiente virtuale
flwr-env/

# File di configurazione e cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# File di log
*.log
*.out
*.err

# File di sistema
.DS_Store
Thumbs.db

# Modelli e dati
final_model.pt
*.h5
*.csv
*.json

# File generati da IDE
.vscode/
.idea/
*.iml

# File specifici del progetto
quickstart-pytorch/pytorchexample/__pycache__/